.sidebar-toggle {
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
    color: rgb(73, 166, 233);
    margin: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.sidebar-toggle:hover {
    transform: scale(1.2);
}